html {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

html, body, #map {
  background: #f5f3ee;
  height: 100%;
  width: 100vw;
  overflow: hidden;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  right: 0;
  left: 0;
}
.leaflet-popup-pane,
.leaflet-control {
  font-size: medium;
}

.leaflet-control-layers:before {
  content: "Toggle categories";
  color: #000;
  text-align: center;
}
.HomeButton {
  position: absolute;
  top: 20%;
  left: 0.5%;
  height: 30px;
  width: 30px;
  z-index: 400;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 400; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: hidden; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  align-content: center;
}

/* The Close Button */
#closeButton {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-right: 10%;
}

#closeButton:hover,
#closeButton:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.cluster {
  background-clip: padding-box;
  border-radius: 30px;
}
.cluster div {
  width: 30px;
  height: 30px;
  margin-left: 5px;
  margin-top: 5px;
  border-radius: 15px;

  text-align: center;
  vertical-align: middle;
  line-height: 30px;

  background-color: rgba(254, 254, 254, 0.6);

  font-size: 14px;
}
.access {
  background-color: rgba(218, 94, 94, 0.6);
}
.activity {
  background-color: rgba(253, 173, 0, 0.6);
}
.bike {
  background-color: rgba(255, 122, 5, 0.6);
}
.camping {
  background-color: rgba(12, 128, 20, 0.6);
}
.food {
  background-color: rgba(48, 24, 3, 0.6);
}
.heritage {
  background-color: rgb(100, 85, 67, 0.6);
}
.interpret {
  background-color: rgba(84, 15, 236, 0.6);
}
.model {
  background-color: rgba(36, 180, 45, 0.6);
}
.planet {
  background-color: rgba(202, 1, 244, 0.6);
}

#logo {
  left: 0.5%;
  bottom: 0.5%;
  position: absolute;
  width: 200px;
  height: 100px;
  z-index: 400;
}

#interpretImg {
  width: 65%;
  height: auto;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

#interpretLink {
  bottom: 0%;
  left: 40%;
  position: absolute;
  color: white;
}

.leaflet-touch .leaflet-control-zoom-in,
.leaflet-touch .leaflet-control-zoom-out {
  background: lightgray !important;
}

@media (max-width: 500px) {
  .leaflet-popup-content {
    font-size: x-small;
    max-width: 150px;
    max-height: 150px;
    overflow: auto;
  }
  #popupTitle {
    font-size: medium !important;
  }
  #popupImg {
    width: 125px;
    height: 125px;
  }
  #logo {
    width: 80px;
    height: 50px;
  }
  .leaflet-control-layers-expanded {
    font-size: x-small;
  }
  .leaflet-control-layers::before {
    content: "";
  }
  .leaflet-control-layers-toggle:after {
    content: "Toggel categories";
    font-size: small;
    vertical-align: middle;
  }
  .leaflet-control-layers {
    width: 105px;
    text-align: middle;
  }
  .leaflet-container a {
    color: Black !important;
    text-decoration: none;
    background: none !important;
    display: ruby;
  }
  .HomeButton {
    left: 3.5%;
  }
}
